.container {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: 1rem;
}

.next-btn {
  margin-left: auto;
  width: fit-content;
}

@media (max-width: 48rem) {
  .container {
    background-color: hsl(var(--clr-neutral-400));
    margin-bottom: 0;
    padding: 1rem;
  }
}
