.card {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 60rem;
  height: 37.5rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: hsl(var(--clr-neutral-400));
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.content {
  width: 70%;
  height: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  margin-inline: auto;
}
